<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <styles>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Curso Vue Js 3</title>

      <!-- STYLE -->
      <link rel="stylesheet" href="./assets/styles.css"
    /></styles>

    <!-- VUE CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="cart">Cart: {{cart}}</div>
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img v-bind:src="image" :title="img_product" srcset="" />
          </div>
          <div class="product-info">
            <h1>{{ product_title }}</h1>
            <p v-if="inStock > 5">In Stock</p>
            <p v-else-if="inStock < 5 && inStock >= 1">Almost sold out</p>
            <p v-else>Out of Stock</p>
            <p>{{ inStock }}</p>
            <ul>
              <li v-for="detail in datails">{{detail}}</li>
            </ul>
            <div
              v-for="variant in variants"
              :key="variant.id"
              v-on:mouseover="changeImage(variant.image)"
              class="color-box"
              :style="{ backgroundColor: variant.color }"
            ></div>
            <button class="button" @click="addToCart">Add to cart</button>
          </div>
        </div>
      </div>
      <!--<h1>{{message}}</h1>-->
      <!--<input type="text" v-model="message" /> two way data binding -->
    </div>

    <script>
      const { createApp, ref } = Vue;
      createApp({
        setup() {
          //one way data binding
          const message = ref("Ola mundo!");
          const cart = ref(0);
          const image = ref("./assets/images/t-shirt-blue.png");

          function addToCart() {
            console.log(cart);
            cart.value++;
          }

          function changeImage(imageVariant) {
            image.value = imageVariant;
          }

          return {
            message,
            image,
            img_product: ref("Camiseta Azul"),
            product_title: ref("Camiseta Azul"),
            inStock: ref(Math.floor(Math.random() * 7)),
            datails: ["80% cotton", "20% polyester", "Gender-neutral"],
            variants: [
              {
                id: 1,
                color: "blue",
                image: "./assets/images/t-shirt-blue.png",
              },
              {
                id: 2,
                color: "green",
                image: "./assets/images/t-shirt-green.png",
              },
            ],
            cart,
            addToCart,
            changeImage,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
